<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lantour">
	<update id="addViewCount" parameterType="int">
		UPDATE board_lantour
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	<delete id="delete" parameterType="int">
		DELETE board_lantour
		WHERE num=#{num}
	</delete>
	<insert id="insert" parameterType="lantourDto">
		INSERT INTO board_lantour
		(num,writer,title,category,content,imagePath,viewCount,regdate)
		VALUES(board_lantour_seq.NEXTVAL,#{writer},
				#{title},#{category},#{content},#{imagePath},0,SYSDATE)
	</insert>
	<update id="update" parameterType="lantourDto">
		UPDATE board_lantour
		SET title=#{title}, content=#{content},category=#{category},imagePath=#{imagePath}
		WHERE num=#{num}
	</update>
	<select id="getList" parameterType="lantourDto" resultType="lantourDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num,writer,title,category,content,imagePath,viewCount,
					TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate
				FROM board_lantour
				<choose>
					<when test="title == null and content == null">
						WHERE UPPER(category) LIKE '%'||UPPER(#{category})||'%'
					</when>
					<when test="title != null and content != null">
						WHERE UPPER(category) LIKE '%'||UPPER(#{category})||'%' AND (
						UPPER(title) LIKE '%'||UPPER(#{title})||'%' 
						OR UPPER(content) LIKE '%'||UPPER(#{content})||'%')
					</when>
					<when test="title != null">
						WHERE UPPER(category) LIKE '%'||UPPER(#{category})||'%' AND (
						UPPER(title) LIKE '%'||UPPER(#{title})||'%')
					</when>
					<when test="writer != null">
						WHERE UPPER(category) LIKE '%'||UPPER(#{category})||'%' AND (
						UPPER(writer) LIKE '%'||UPPER(#{writer})||'%')
					</when>
				</choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCount" parameterType="lantourDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_lantour
		<choose>
			<when test="title != null and content != null">
				WHERE UPPER(category) LIKE '%'||UPPER(#{category})||'%' AND (
				UPPER(title) LIKE '%'||UPPER(#{title})||'%' 
				OR UPPER(content) LIKE '%'||UPPER(#{content})||'%')
			</when>
			<when test="title != null">
				WHERE UPPER(category) LIKE '%'||UPPER(#{category})||'%' AND (
				UPPER(title) LIKE '%'||UPPER(#{title})||'%')
			</when>
			<when test="writer != null">
				WHERE UPPER(category) LIKE '%'||UPPER(#{category})||'%' AND (
				UPPER(writer) LIKE '%'||UPPER(#{writer})||'%')
			</when>
		</choose>
	</select>
	<select id="getData" parameterType="int" resultType="lantourDto">
		SELECT * 
		FROM
			(SELECT num,category,writer,title,content,viewCount,imagePath,
				TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
				LAG(num, 1, 0) OVER (ORDER BY num DESC) AS prevNum, 
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) AS nextNum 
			FROM board_lantour 
			ORDER BY num DESC)
		WHERE num=#{num}
	</select>
</mapper>