<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="premium">
	<delete id="delete" parameterType="int">
		DELETE premium
		WHERE num=#{num}
	</delete>
	<insert id="insert" parameterType="premiumDto">
		INSERT INTO premium
		(num, writer, caption, content, imagePath, regdate)
		VALUES(premium_seq.NEXTVAL, #{writer}, #{caption}, #{content}, #{imagePath},SYSDATE)
	</insert>
	<select id="getData" parameterType="int" resultType="premiumDto">
		SELECT * 
		FROM
			(SELECT num, writer, caption, content, imagePath, 
				TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
				LAG(num, 1, 0) OVER (ORDER BY num DESC) AS prevNum, 
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) AS nextNum 
			FROM premium 
			ORDER BY num DESC)
		WHERE num=#{num}
	</select>
	<select id="getList" parameterType="premiumDto" 
		resultType="premiumDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num,writer,caption,content,imagePath,
					TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate
				FROM premium
				ORDER BY num DESC) result1) 
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM premium
	</select>
	<update id="update" parameterType="premiumDto">
		UPDATE premium
		SET caption=#{caption}, content=#{content}
		WHERE num=#{num}
	</update>
</mapper>