<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user_team">
	<insert id="insert" parameterType="userDto">
		INSERT INTO user_team
		(id, pwd, email, pay, regdate, manage, phone)
		VALUES(#{id}, #{pwd}, #{email}, #{pay}, SYSDATE, #{manage}, #{phone})
	</insert>
	<select id="getData" parameterType="String" resultType="userDto">
		SELECT pwd, email, pay, profile, TO_CHAR(regdate, 'YYYY.MM.DD HH24:MI') AS regdate, manage, phone
		FROM user_team
		WHERE id=#{id}
	</select>
	<delete id="delete" parameterType="String">
		DELETE FROM user_team
		WHERE id=#{id}
	</delete>
	<update id="update" parameterType="userDto">
		UPDATE user_team
		SET email=#{email}
		WHERE id=#{id}
	</update>
	<select id="getPwd" parameterType="String" resultType="String">
		SELECT pwd
		FROM user_team
		WHERE id=#{id}
	</select>
	<update id="updatePwd" parameterType="userDto">
		UPDATE user_team
		SET pwd=#{newPwd}
		WHERE id=#{id}
	</update>
	<select id="isExist" parameterType="String" resultType="userDto">
		SELECT *
		FROM user_team
		WHERE id=#{id}
	</select>
	<update id="updateProfile" parameterType="userDto">
		UPDATE user_team
		SET profile=#{profile}
		where id=#{id}
	</update>
</mapper>